<div class="col-md-4">
  <div class="jumbotron">
    <h1 class="display-4">Segundo exemplo</h1>
    <p class="lead">Ng Model e ngModelChance</p>
    <hr class="my-4">
    <label for="sobrenome"> Qual o seu sobrenome</label>
    <input [value]="nome" (input)="atualizaNome($event)" class="form-control form-control-lg" type="text" id="sobrenome">
    <p> Meu sobrenome é {{  }}</p>
    <input class="form-control form-control-lg" type="text">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </div>
</div>
